.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*.stl


# Better python ignores
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the virtual environments
py_SPHARM/spharm/
.conda/
.venv/

# Ignore R library folders (renv takes care of this)
renv/library/
renv/staging/